:root {
  --color-white: #f5f5f5;
  --color-black: #333;
  --color-cyan: #7bb7fa;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-white);

  /* set the default font-color */
  color: var(--color-black);
}

/* code blocks */
code[class*='language-'],
pre[class*='language-'] {
  font-size: 2rem;
}

a {
  /* set the default link color */
  color: var(--color-cyan);
}

blockquote {
  margin: 1rem auto;
  padding: 1rem;
  border-left:5px solid var(--color-cyan);
  width: 70%;
}

blockquote > p {
  font-size: 2rem;
  line-height: 1.5;
  text-align: left;
  /* FIXME: stop using important */
  margin-bottom: 0 !important;
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}
